<app-header [title]="'health_knowledge'|t"></app-header>

<div class="content">
  <div class="knowledge-intro">
    <h2>{{'wellness_articles'|t}}</h2>
    <p>{{'learn_wellness'|t}}</p>
  </div>
  
  <div class="articles-list">
    <div *ngFor="let article of articles" class="section-card">
      <h3>{{ article.title }}</h3>
      <p class="article-excerpt">{{ article.excerpt }}</p>
      <details class="article-details">
        <summary>{{'read_full_article'|t}}</summary>
        <div class="article-body">
          {{ article.body }}
        </div>
      </details>
    </div>
  </div>
  
  <div class="knowledge-tips">
    <div class="section-card">
      <h3>{{'quick_tips'|t}}</h3>
      <ul class="tips-list">
        <li>{{'tip_breaks'|t}}</li>
        <li>{{'tip_hydration'|t}}</li>
        <li>{{'tip_gratitude'|t}}</li>
        <li>{{'tip_sleep'|t}}</li>
        <li>{{'tip_connection'|t}}</li>
      </ul>
    </div>
  </div>
</div>
