<app-header [title]="'register_title'|t"></app-header>

<form class="reg" [formGroup]="form" (ngSubmit)="submit()">
  <label>
    {{'full_name'|t}}
    <input formControlName="fullName" />
  </label>

  <label>
    {{'age'|t}}
    <input type="number" formControlName="age" />
  </label>

  <label>
    {{'email'|t}}
    <input type="email" formControlName="email" />
  </label>

  <label>
    {{'phone'|t}}
    <input formControlName="phone" />
  </label>

  <button class="btn-primary" type="submit">{{'continue'|t}}</button>
  <button type="button" class="guest" (click)="asGuest()">{{'continue_guest'|t}}</button>
</form>
